
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="/Bootstrap/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="/Bootstrap/bootstrap-multiselect.css" type="text/css"/>
<script>
$(document).ready(function(){
	getexistvalueset();
	addlov();

	$("#divadd").click(function () {
		$("#divaddd").show();
		$("#diveditt").hide();
	});
	$("#divedit").click(function () {
		$("#diveditt").show();
		$("#divaddd").hide();

	});
});
function getexistvalueset(){
	var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin + '/admin' + '/existgetvaluset';
	$.ajax({
		url: url,
		method: 'get',
		success: function(data) {
			if(data.length != 0){
				$('#vlset').html('');
				$('#valusetgroup').append('');
				$('#valusetgroup')
                	.append($("<option></option>")
                	.attr("value",'0')
                	.text("select valueset"));
				for(var i =0 ;i<data.length;i++){
					/*$('#vlset').append("<div style='padding-left:15px;'><label style='font-size: 11pt;font-family: inherit;font-weight: normal;' onclick='getdropdownvalues(this.id);' id="+data[i].ID+'e'+" class='vset'>"+data[i].Name+"</label></div>");
				*/
				   $('#vlset').append("<div class='divlset1'id='divlset1"+data[i].ID+"' ><label style='display:grid;font-weight:normal;cursor: pointer;overflow: hidden;text-overflow: ellipsis;max-width:176px;width:176px' class='lblset1' id="+data[i].ID+'e'+" onclick='getdropdownvalues(this.id);' class='vset'>"+data[i].Name+"</label><span style='float: right;cursor: pointer;' class='glyphicon glyphicon-transfer spanSign' onclick='selectatt1("+data[i].ID+");'></span></div>");
					$('#vlset1').append("<div style='padding-left:15px;'><label style='font-size: 11pt;font-family: inherit;font-weight: normal;' id="+data[i].ID+'e'+" class='vset'>"+data[i].Name+"</label></div>");
					$('#valusetgroup')
                	.append($("<option></option>")
                	.attr("value",data[i].ID)
                	.text(data[i].Name));
				}
			}
		},
		dataType: 'JSON',
	});
}

function getdropdownvalues(id){
	var orid=id.replace('e','');
	var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin + '/admin' + '/getdropdownvaluesbyddname';
	$.ajax({
		data : {"data":orid},
		url: url,
		method: 'post',
		success: function(data) {
			$('#existing').html('');
			$('#eexisting').html('');
			var len=data.length+10000;
			if(data.length != 0){
				for(var i = 0 ;i<data.length;i++){
					$('#existing').append($("<div><input type='checkbox' class='exsitcheck' value='"+data[i].ID+"'  name='existcheck' id='"+data[i].ID+'z'+"'><label class='existlbl' style='padding-left:5px;font-weight:normal' id='"+data[i].ID+'l'+"'>"+data[i].ListValue+"</label></div>"));
					$('#eexisting').append($("<div><input type='checkbox' class='eexsitcheck' value='"+data[i].ID+"'  name='existcheck' id='"+len+"'><label style='font-weight: normal;' class='eexistlbl' style='padding-left:5px;' id='"+len+'l'+"'>"+data[i].ListValue+"</label></div>"));
					len++;
				}
			}
		},
		dataType: 'JSON',
	});
}

function addlov(){
	/*var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin + '/admin' + '/getlovs';
	$.ajax({
		url: url,
		method: 'POST',
		success: function(data) {
			$('#existing').html('');
			for(var i = 0 ;i<data.length;i++){
				$('#existing').append($("<div><input type='checkbox' class='exsitcheck' value='"+data[i].ID+"'  name='existcheck' id='"+data[i].ID+'z'+"'><label class='existlbl' style='padding-left:5px;font-weight:normal' id='"+data[i].ID+'l'+"'>"+data[i].ListValue+"</label></div>"));
			}
		},
		dataType: 'JSON',
	});*/
}
function move(){
	var flag=0;
	$(".exsitcheck").each(function () {
		if($(this).is(':checked')){
			var id23=$(this).attr("id");
			var id=id23.replace('z','');
			id1=id+'l';
			var value = $(this).val();
			var text =($(this).next('label').text()).toLowerCase();
			var text1 =$(this).next('label').text();
			$(".newlbl").each(function () {
				var existvalue = ($(this).text()).toLowerCase();
				if(existvalue == text){
					flag=1;
				}
			});
			if(flag == 0){
				$('#new').append($("<div><input type='checkbox' class='newcheck' value='"+value+"'  name='newcheck' checked  id='"+id+'m'+"' onchange='removenew(this.id)'><label class='newlbl' style='padding-left:5px;font-weight:normal' id='"+id+'nl'+"'>"+text1+"</label></div>"));
				$(this).remove();
				$('#'+id1).remove();
				if(value == 0){
					if($('#lovtext').val()==''){
						$('#lovtext').val(text1);
					}
					else{
						var txt=$('#lovtext').val();
						$('#lovtext').val(txt+','+text1);
					}
				}
			}
			else{
				flag=0;
			}
		}
	});
}
function removenew(id){
	var str=$('#lovtext').val();
	var rid=id.replace('m', '');
	id1=rid+'nl';
	var value = $('#'+id).val();
	console.log(value);
	var text =$('#'+id).next('label').text();
	$('#existing').append($("<div><input type='checkbox' class='exsitcheck' value='"+value+"'  name='existcheck' id='"+rid+'z'+"'><label class='existlbl' style='padding-left:5px;' id='"+rid+'l'+"'>"+text+"</label></div>"));
	$('#'+id).remove();
	$('#'+id1).remove();
	var index=str.search(text);
	console.log(index);
	if(index >= 0){
		if(index == 0){
			str=str.replace(text+',','');
			str=str.replace(text,'');
			$('#lovtext').val(str);
		}
		else{
			str=str.replace(','+text,'');
			$('#lovtext').val(str);
		}
	}
}
function addlovvalue(){
	var count=0;
	var already=0;
	var count1=0;
	var actvalue=($('#lov').val()).trim().replace(",", "|");
	var value = (($('#lov').val()).toLowerCase()).trim().replace(",", "|");
	if(actvalue==''){
     alert_modal("Please Enter Values !");
     return false;
	}
	if(value != ''){
		$(".existlbl").each(function () {
			var existvalue = ($(this).text()).toLowerCase();
			count1++;
			if(existvalue == value){
				var lid = $(this).attr("id");
				var orid1=lid.replace('l', '');
				var orid=orid1+'z';
				var cvalue = $('#'+orid).val();
				var ctext =$('#'+orid).next('label').text();
				console.log(ctext);
				$(this).remove();
				$('#'+orid).remove();
				$('#new').append($("<div><input type='checkbox' class='newcheck' value='"+cvalue+"'  name='newcheck' checked  id='"+orid1+'m'+"' onchange='removenew(this.id)'><label class='newlbl' style='padding-left:5px;font-weight:normal' id='"+orid1+'nl'+"'>"+ctext+"</label></div>"));
				if(cvalue == 0){
					if($('#lovtext').val()==''){
						$('#lovtext').val(actvalue);
					}
					else{
						var txt=$('#lovtext').val();
						$('#lovtext').val(txt+','+actvalue);
					}
				}
				count=count+1;
			}
		});
		if(count == 0){
			var v=$(".newlbl").text();
			if(v != ''){
				$(".newlbl").each(function () {
					count1++;
					var existvalue = ($(this).text()).toLowerCase();
					if(existvalue == value){
						already=1;
						return false;
					}
					else{
						already=2;
					}
				});
			}
			else{
				already=2;
			}
		}
		if(already == 2){
			$('#new').append($("<div><input type='checkbox' class='newcheck' value='0'  name='newcheck' checked  id='"+count1+'m'+"' onchange='removenew(this.id)'><label class='newlbl'style='padding-left:5px;font-weight:normal' id='"+count1+'nl'+"'>"+actvalue+"</label></div>"));
			if($('#lovtext').val()==''){
				$('#lovtext').val(actvalue);
			}
			else{
				var txt=$('#lovtext').val();
				$('#lovtext').val(txt+','+actvalue);
			}
		}
	}
	$('#lov').val('');	
}
function submitvalueset()
{
	
	var flag=1;
	var valueset=($('#set').val()).trim();
	var desc=$('#desclov').val();
	var newvauleset=$('#lovtext').val();
	var checklist="";
	$(".newcheck").each(function () {
		var nvale = $(this).val();
		if(checklist == ''){
			checklist=checklist+nvale;
		}
		else{
			checklist=checklist+','+nvale;
		}
	});
	if(valueset == ''){
		alert_modal("Please insert the valueset name");
		flag=0;
	}
	$(".vset").each(function () {
		var vtext =($(this).text()).toLowerCase();
		if(vtext == valueset){
			alert_modal("Valueset already exist");
			flag=0;
		}
	});
	if(checklist == ""){
		alert_modal("Please insert the LOV values");
		flag=0;
	}
	if(flag == 1){
		console.log(valueset);
		console.log(desc);
		console.log(newvauleset);
		console.log(checklist);
		var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin + '/admin' + '/addvalueset';
		$.ajax({
			data:{"valueset":valueset,"desc":desc,"newvauleset":newvauleset,"checklist":checklist},
			url: url,
			method: 'POST',
			success: function(data) {
				alert_modal("Valueset added successfully");
			},
			dataType: 'JSON',
		});
		setTimeout(function(){ getexistvalueset2(); }, 1000);
		setTimeout(function(){ getexistvalueset(); }, 1000);
		 $('#divAddAttribute').removeClass('hide');
		 $('#divAddvlov').addClass('hide');
		 $('#lovtab').addClass('hide');
	}
}
function getlovlist(id){
	getlovbuid($('#'+id).val());
}
function movedit(){
	var flag=0;
	$(".eexsitcheck").each(function () {
		if($(this).is(':checked')){
			var id=$(this).attr("id");
			id1=id+'l';
			var value = $(this).val();
			var text =($(this).next('label').text()).toLowerCase();
			var text1 =$(this).next('label').text().trim();
			$(".enewlbl").each(function () {
				var existvalue = ($(this).text()).toLowerCase();
				if(text == existvalue){
					flag=1;
				}
			});
			if(flag == 0){
				$('#enew').append($("<div><input type='checkbox' class='enewcheck' value='"+value+"'  name='newcheck' checked  id='"+id+"' onchange='eremovenew(this.id)'><label class='enewlbl' style='padding-left:5px;font-weight:normal' id='"+id+'l'+"'>"+text1+"</label></div>"));
				$(this).remove();
				$('#'+id1).remove();
				if(value == 0){
					if($('#elovtext').val()==''){
						$('#elovtext').val(text1);
					}
					else{
						var txt=$('#elovtext').val();
						$('#elovtext').val(txt+','+text1);
					}
				}
			}
			else{
				flag=0;
			}
		}
	});
}
function eremovenew(id){
	var str=$('#elovtext').val();
	id1=id+'l';
	var value = $('#'+id).val();
	var text =$('#'+id).next('label').text();
	$('#'+id).remove();
	$('#'+id1).remove();
	$('#eexisting').append($("<div><input type='checkbox' class='eexsitcheck' value='"+value+"'  name='existcheck' id='"+id+"'><label class='eexistlbl' style='padding-left:5px;font-weight:normal' id='"+id+'l'+"'>"+text+"</label></div>"));
	var index=str.search(text);
	console.log(index);
	if(index >= 0){
		if(index == 0){
			str=str.replace(text+',','');
			str=str.replace(text,'');
			$('#elovtext').val(str);
		}
		else{
			str=str.replace(','+text,'');
			$('#elovtext').val(str);
		}
	}	
}
function editadd(){
	var count=0;
	var already=0;
	var count1=0;
	var actualvalue=($('#newlovvalue').val()).trim();
	var value = (($('#newlovvalue').val()).toLowerCase()).trim();
	if(actualvalue==''){
		alert_modal("Please Enter values");
	}
	if(value != ''){
		$(".eexistlbl").each(function () {
			var existvalue = (($(this).text()).toLowerCase()).trim();
			count1++;
			if(existvalue == value){
				var lid = $(this).attr("id");
				var orid=lid.replace('l', '');
				var cvalue = $('#'+orid).val();
				var ctext =$('#'+orid).next('label').text();
				$(this).remove();
				$('#'+orid).remove();
				$('#enew').append($("<div><input type='checkbox' class='enewcheck' value='"+cvalue+"'  name='existcheck' id='"+orid+"' checked onchange='eremovenew(this.id)'><label class='enewlbl' style='padding-left:5px;font-weight:normal' id='"+orid+'l'+"'>"+ctext+"</label></div>"));
				if(cvalue == 0){
					if($('#elovtext').val()==''){
						$('#elovtext').val(actualvalue);
					}
					else{
						var txt=$('#elovtext').val();
						$('#elovtext').val(txt+','+actualvalue);
					}
				}
				count=count+1;
			}
		});
		if(count == 0){
			var v=$(".enewlbl").text();
			if(v != ''){
				$(".enewlbl").each(function () {
					count1++;
					var existvalue = (($(this).text()).toLowerCase()).trim();
					if(existvalue == value){
						already=1;
						return false;
					}
					else{
						console.log("hello");
						already=2;
					}
				});
			}
			else{
				already=2;
			}
		}
		if(already == 2){
			$('#enew').append($("<div><input type='checkbox' class='enewcheck' value='0'  name='existcheck' id='"+count1+"' checked onchange='eremovenew(this.id)'><label class='enewlbl' style='padding-left:5px;font-weight:normal' id='"+count1+'l'+"'>"+actualvalue+"</label></div>"));
			if($('#elovtext').val()==''){
				$('#elovtext').val(actualvalue);
			}
			else{
				var txt=$('#elovtext').val();
				$('#elovtext').val(txt+','+actualvalue);
			}
		}
	}
	$('#newlovvalue').val('');
}
function getlovbuid(id1)
{
	var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin + '/admin' + '/getlovlistbyid';
	$.ajax({
		data : {"id": id1 },
		url: url,
		method: 'post',
		success: function(data) {
			var present = data[0];
			var absent = data[1];
			$('#enew').html('');
			$('#eexisting').html('');
			$('#elovtext').val('');
			var len=present.length+absent.length+1000;
			if(present.length != 0){
				$('#editdesclov').val(present[0].Description);
				for(var i = 0 ;i < present.length;i++){
					$('#enew').append($("<div><input type='checkbox' class='enewcheck' value='"+present[i].ID+"'  name='existcheck' id='"+len+"' checked onchange='eremovenew(this.id)'><label class='enewlbl' style='font-weight: normal;' id='"+len+'l'+"'>"+present[i].ListValue+"</label></div>"));
					len++;
				}
			}
		},
		dataType: 'JSON',
	});
}
function editlov()
{
	
	var flag=1;
	var valueset=$('#valusetgroup').val();
	var desc=$('#editdesclov').val();
	var newvauleset=$('#elovtext').val();
	var checklist="";
	$(".enewcheck").each(function () {
		var nvale = $(this).val();
		if(checklist == ''){
			checklist=checklist+nvale;
		}
		else{
			checklist=checklist+','+nvale;
		}
	});
	if(valueset == '0'){
		alert_modal("Please select the valueset ");
		flag=0;
	}
	if(flag == 1){
		console.log(valueset);
		console.log(desc);
		console.log(newvauleset);
		console.log(checklist);
		var url = window.location.origin.split("/")[3] ? window.location.origin : window.location.origin + '/admin' + '/editvalueset';
		$.ajax({
			data:{"valueset":valueset,"desc":desc,"newvauleset":newvauleset,"checklist":checklist,"valueset1":($('#entervalueset1').val()).trim()},
			url: url,
			method: 'POST',
			success: function(data) {
				alert_modal("Valueset updated successfully");
			},
			dataType: 'JSON',
		});
		
		setTimeout(function(){ $('#valusetg').val(valueset);GetAllvalues('valusetg'); }, 1000);

		$('#divAddAttribute').removeClass('hide');
		 $('#divAddvlov').addClass('hide');
		 $('#lovtab').addClass('hide');
		setTimeout(function(){ getexistvalueset(); }, 1000);
		setTimeout(function(){ getlovbuid(valueset);},1000);
		setTimeout(function(){addlov();GetAllvalues1(1);},1000);
		
		 
	}
}

function check(){
	//var i=0;   
	var actval=($('#entervalueset').val()).trim();
	var vlovset=($('#entervalueset').val()).toLowerCase();
	var flag = 0;
	if(actval==''){
		alert_modal('Please Enter Dropdown Name !');
	}
	if(vlovset != ''){
		var ides=document.getElementById('vlset1').querySelectorAll('.vset');
        // alert_modal(ides.length);
		for(var i=0;i<ides.length;i++) {
          
			var vtext =($(ides[i]).text()).toLowerCase();
			if(vtext == vlovset){
          
	var idname=$(ides[i]).attr("id");
	 
	// console.log("jai ho ji",idname,$(ides[i]).attr("id"));
	var realid=idname.replace('e','');
	//console.log("jai ho ji",realid);
	$("#valusetgroup").val(realid);//realid
			getlovlist("valusetgroup");
				flag=1;
			}
		}
		if(flag == 1){
			$('#eexisting').html('');
			$('#enew').html('');
			$("#diveditt").removeClass('hide');
			$("#divaddd").addClass('hide');
		}
		if(flag == 0){
			$('#existing').html('');
			$('#new').html('');
			$("#diveditt").addClass('hide');
			$("#divaddd").removeClass('hide');
			$("#set").val(actval);
		}
	}
}

function showadd()
{
	$("#hideaddbutton").removeClass('hide');
	$("#hideadd").addClass('hide');
}

function showadd2()
{
	$("#hideaddbtn2").removeClass('hide');
	$("#hideadd2").addClass('hide');
}

function filterAttribute()
{
	var filter=$("#filter").val().trim();
	var lnks = document.getElementById('vlset').querySelectorAll('.vset');
	for(var i = 0, len = lnks.length; i < len; i++) {
t=lnks[0];

//if(lnks[i].textContent!=filter && filter !="")
if(lnks[i].textContent.toLowerCase().indexOf(filter.toLowerCase()) > -1)
		lnks[i].style.display="inline";
	else
		lnks[i].style.display="none";
	}
}
function filterAttribute2()
{
	var filter=$("#filter2").val().trim();
	var lnks = document.getElementById('vlset1').querySelectorAll('.vset');
	for(var i = 0, len = lnks.length; i < len; i++) {
t=lnks[0];

//if(lnks[i].textContent!=filter && filter !="")
if(lnks[i].textContent.toLowerCase().indexOf(filter.toLowerCase()) > -1)
		lnks[i].style.display="inline";
	else
		lnks[i].style.display="none";
	}
}
</script>
<div class="col-md-12">
<link href="../stylesheets/adminstyle.css" rel="stylesheet">
<div id="addlovv" style="width:100%;padding:15px;">
	<div class="row">
		<div class="col-md-9" style="padding-left:0px;">
			<div class="col-lg-12" style="padding-left:9px;" >
				<div class="col-lg-10" style="padding-left:15px;">
					<input type="text" class="col-md-10" style="width:100%;height:30px;margin-top:2px;margin-bottom:10px;"  placeholder="Enter Dropdown Name"  id="entervalueset"  required/>
				</div>
				<div class="col-md-2">
				<input type="button" class="" style="    width: 90px;height: 30px;color: #7E7E7E;background-color: #F4F4F6;border: 1px solid lightgrey;border: 1px solid lightgrey;border-radius: 5px;" value="Add" onclick="check();">
				</div>
			</div>
		</div>
		<div class="col-lg-9 hide" id="diveditt" >
			<div class="col-md-12" style="margin-top:5px;padding:10px;" >
				<div class="col-md-12 hide" style="padding-left:0px;">
					<label style="font-weight: normal;">Select valueset</label>
					<select style="width:100%;height:36px;margin-top:10px;margin-bottom:10px;" placeholder="Enter Value Name" id="valusetgroup" onchange="getlovlist(this.id);">	
					</select>				 
				</div>
					<div class="col-md-12" style="padding-left:6px;">
							<label style="font-weight:normal">Valuset</label>
							<input class="col-md-12" name="desc"  rows="1" style="border-radius: 5px;width:100%;height:31px;margin-top:2px;margin-bottom:10px;"   id="entervalueset1" onchange="checklov();" required/>
						</div>
				<div class="col-md-12" style="padding-left:0px;">
					<label style="font-weight: normal;">Description</label>
					<textarea class="col-md-12" name="desc"  rows="4" style="border-radius: 5px;width:100%;height:70px;margin-top:2px;margin-bottom:10px;"  placeholder="Enter LOV Name"  id="editdesclov" required> </textarea>
				</div>
				<div id="hideaddbutton" class="hide">
					<div  class="col-md-10" style="padding-left:0px;">
						<div class="col-lg-12" style="padding-left:0px;">
							<label style="font-weight: normal;">Add Dropdown New Value</label>
							<input type="text" class="col-md-10" style="width:100%;height:36px;margin-top:2px;margin-bottom:10px;"  placeholder="Enter list of value"  id="newlovvalue"/> 
							<input type="text" name="newvauleset" class="hide" style="width:100%;height:36px;margin-top:10px;margin-bottom:10px;"  id="elovtext" /> 
						</div>
					</div>
					<div class="col-md-2" style="margin-top:25px;padding-left:0px;padding-right:15px;">
						<input type="button" class="btn btn-success" style="width:75px;height: 30px;    color: #7E7E7E;background-color: #F4F4F6;border: 1px solid lightgrey;border: 1px solid lightgrey;border-radius: 5px;" value="Add" onclick="editadd();">
					</div>
				</div>
				<div>
					<input id="hideadd" type="button" class="btn btn-success" style="width:200px;height:30px;color:#7E7E7E;background-color:#F4F4F6;border:1px solid lightgrey;border:1px solid lightgrey;border-radius:5px;margin-left:0px;" value="Add Dropdown Values" onclick="showadd();">
				</div>
				<div class="col-md-5" style=" margin-top:10px;border:1px solid #ccc;;height:200px;overflow:auto;background-color:white;color:black;overflow-y:scroll;" id="eexisting">
				</div>
				<div class="col-md-1">
					<center>
						<input type="button" value=">" class="" style="width: 35px;height: 30px;
                        color: #7E7E7E;background-color: #F4F4F6;border: 1px solid lightgrey;border: 1px solid lightgrey;border-radius: 5px;margin-left: 10px;margin-top: 85px;"  onclick="movedit();"/>
					</center>
				</div>
				<div class="col-md-5" style="border:1px solid #ccc;margin-top:10px;height:200px;overflow:auto;background-color:white;color:black;overflow-y:scroll;margin-left:40px;" id="enew">
				</div>
				<div class="row">
					<div class="col-md-12" style="margin-top:10px;">
						<input type="button" class="btn btn-success" style="float:right;width:75px;height:30px;color:#7E7E7E;background-color:#F4F4F6;border:1px solid lightgrey;border-radius:5px;margin-right:10px;" value="Submit" onclick="editlov();" >
					</div>
				</div>
			</div>
			
		</div>
		<div class="col-lg-9 hide" id="divaddd" style="padding-left:0px;">
			<div class="col-md-12" style="padding:10px;">
				<div class="col-md-12 hide"  style="padding-left:0px;">
					<label style="font-weight: normal;">Valueset Name</label>
					<input type="text" name="vauleset" style="width:100%;height:36px;margin-top:10px;margin-bottom:10px;" placeholder="Enter Value Name" required id="set"/> 
					<input type="text" name="newvauleset" class="hide" style="width:100%;height:36px;margin-top:10px;margin-bottom:10px;"  id="lovtext" />
				</div>
				<div class="col-md-12" style="padding-left:31px;">
					<label style="font-weight: normal;">Description</label>
					<textarea class="col-md-12" name="desc"  rows="4" style="border-radius: 5px;width:100%;height:70px;margin-top:2px;margin-bottom:10px;"  placeholder="Enter list of value"  id="desclov" required> </textarea>
				</div>
				<div id="hideaddbtn2" class="hide">
					<div class="col-md-10" style="padding-left:30px;">
						<div class="col-lg-12" style="padding-left:0px;">
							<label style="font-weight: normal;">Add Dropdown New Value</label>
							<input type="text" class="col-md-10" style="width:100%;height:36px;margin-top:2px;margin-bottom:10px;"  placeholder="Enter list of value"  id="lov"/> 
						</div>
					</div>
					<div class="col-md-2" style="margin-top:25px;padding-left:0px;padding-right:69px;">
						<input type="button" class="btn btn-success" style="width:75px;height:30px;color:#7e7e7e;background-color:#f4f4f6;border:1px solid lightgrey;border-radius:5px;margin-left:50%" value="Add" onclick="addlovvalue();">
					</div>
				</div>
				<div style="padding-left:20px">	
					<input id="hideadd2" type="button" class="btn btn-success" style="width:200px;height:30px;color:#7e7e7e;background-color:#F4F4F6;border:1px solid lightgrey;border:1px solid lightgrey;border-radius:5px;" value="Add Dropdown Values" onclick="showadd2();">
				</div>
              	<div class="col-lg-12" style="padding-left:30px;padding-right:0px;">
					<div class="col-md-5" style=" margin-top:10px;border:1px solid #ccc;;height:200px;overflow:auto;background-color:white;color:black;overflow-y:scroll;" id="existing">
					</div>
					<div class="col-md-1">
						<center>
							<input type="button" value=">" class="" style="width:35px;height:30px;color:#7e7e7e;background-color:#f4f4f6;border:1px solid lightgrey;border:1px solid lightgrey;border-radius:5px;margin-left:10px;margin-top:85px;" onclick="move();" />
						</center>
					</div>
					<div class="col-md-5" style="border:1px solid #ccc;margin-top:10px;height:200px;overflow:auto;background-color:white;color:black;overflow-y:scroll;margin-left:40px;" id="new">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" style="margin-top:10px;">
						<input type="button" class="btn btn-success" style="float:right;width:75px;height:30px;color:#7e7e7e;background-color:#f4f4f6;border:1px solid lightgrey;border-radius:5px;" value="Submit" onclick="submitvalueset();">
					</div>
				</div>
			</div>
			<div class="col-md-3 hide" >
				<input type="search" id="filter2" class="form-control" style="width:100%;" placeholder="Search" onchange="filterAttribute2();">
					<div style="width: 100%;margin-top: 10px;height: 30px;padding-left: 15px;padding-top: 6px;color: white;background-color:#f4f4f6;color:#7e7e7e;border: 2px solid lightgrey;">
						Existing value set
					</div>
				<div id="vlset1"  style="height: 480px;overflow-y: scroll;border: 2px solid lightgrey;">
				</div>
			</div>
		</div>
		<div class="col-md-3 " style="margin-top:-10px;">
			<input type="search" id="filter" class="form-control" style="width:100%;" placeholder="Search" onchange="filterAttribute();">
			<div style="width: 100%;margin-top: 10px;height: 30px;padding-left: 15px;font-size: 13pt;color: #7E7E7E;background-color: rgb(244, 244, 246);border: 2px solid Lightgrey;">
				Existing value set
			</div>
			<div id="vlset" style="height: 450px;overflow-y: scroll;border: 2px solid Lightgrey">
			</div>
		</div>
	</div>
</div>
</div>