<% include ./login_header %>

<style>
</style>
<div id="forgot-password-form">
  <form id="forgot-password" action="/forgot_password" method="POST">
    <div class="form-group">
      <label for="user_email">Email address</label>
      <input name="email" type="email" class="form-control" placeholder="Email" required>
    </div>
    <div class="form-group has-success" style="display">
      <label class="control-label" for="inputSuccess1">After submitting you will get an email in few minutes with new password</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
<% include ./footer %>
