<% include ./user_header %>
<script type="text/javascript">
  function validation(){
    var newpass=$('#newp').val();
    var confmpass=$('#confp').val();
    if(newpass == confmpass){
      return true;
    }
    else{
      alert("NewPassword does not match with ConfirmPassword");
      return false;
    }
  }
</script>
<div id="upload-template" style="height:100%">
  <form action="/users/change_passeord" method="POST" onsubmit="return validation();">
  <div class="col-lg-12 center" style=" background-color:#f4f4f6;">

     <center> <h3>Change Password</h3></center>
      
  </div>
  <div class="col-lg-12" style="background-color:white;">
    
       <div class="col-lg-12 uptop">
    <div class="col-lg-3" style="margin-top:10px">
       <label for="template">New Password :</label>
       </div>
        <div class="col-lg-9">
         <input  type="password" class="form-control"  name="newp" id="newp" placeholder="New Password" required>
      </div>
      
      
    </div>
 
    <div class="col-lg-12 uptop">
    <div class="col-lg-3" style="margin-top:10px">
       <label for="sheet number">Confirm Password :</label>
      </div>
       <div class="col-lg-9">
      <input  type="password" class="form-control"  name="confp" id="confp" placeholder="Confirm password" required>
    </div>
    </div>
    
     
   
<div class="col-lg-12 uptop">
   <center> <button type="submit" class="btn btn-default" style="color:#7e7e7e;background-color:#f4f4f6;width:150px;height:35px;">Submit</button>
   </center>
   </div>
   </div>
  </form>
</div>
<% include ./footer %>