<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="/data_sheet/css/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://docs.handsontable.com/pro/1.4.1/bower_components/handsontable-pro/dist/handsontable.full.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://docs.handsontable.com/pro/1.4.1/bower_components/handsontable-pro/dist/handsontable.full.min.css">
<script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
             <script src="/javascripts/bootstrap-notify.js"></script>
<script src="/javascripts/libraries/jquery.js"></script>

<script>
    $(function(){
    $(".dropdown").hover(           
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");               
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                $(this).toggleClass('open');
                $('b', this).toggleClass("caret caret-up");               
            });
    });
</script>
</head>
<body style="background-color: #FFF;">
<!--header id="grid-header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img height="40" width="70" src="/images/paytmlogo.png"></img></a>
          <h4 style="margin-left:470px" class="element1">Catalog Processing Tool</h4>
      </div>
      <div id="navbar" class="navbar-collapse collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right" style="margin-right:20px !important;padding-top:10px;">
          <li class="dropdown active" id="liName"><%=name%><span class="sr-only">(current)</span>
            <ul class="dropdown-menu" style="border-radius:5px;background:#F4F4F6;">
              <% if (adminUser == true) { %>
                <li><a href="/admin/">Admin Panel</a></li>
              <%}%>
              <li><a href="/users/changePassword">Change Password</a></li>
              <li><a href="/users/logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    <!--/div>
  </nav>
</header-->
<header>
<center><span><h3 style="margin-top: 10px;
    position: absolute;
    z-index: 1;
    font-size:40px;
    margin-left: 37%;color: #00a2ef" class="element1">Catalog Automation</h3></span>
     </center>
 <nav class="navbar navbar-default" role="navigation" style="background-color: #fff;width: 97%;margin-left: 21px;border: 0px !important;">
    <div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <a style="margin-top: 10px;" class="navbar-brand" href="/"><img src="/images/paytmlogo.png" height="50" width="70"></img></a>
           </div>
      <div id="navbar" class="navbar-collapse collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right" style="margin-right:0px !important;padding-top:10px;">
          <li class="dropdown active" id="liName" style="margin-top: 6px;"><img src="/images/usered.png" height="25" width="25"></img><%=name%><span class="sr-only">(current)</span>
            <ul class="dropdown-menu" style="border-radius:5px;background:#F4F4F6;">
              <% if (adminUser == true) { %>
                <li><a href="/admin/">Admin Panel</a></li>
              <%}%>
              <li><a href="/users/changepassword">Change Password</a></li>
              <li><a href="/users/logout">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>
